ol.questions > li {
	margin: 2em 0;
}


fieldset {
	border: none;
}

ul.choices {
	margin: 1em 0;
	padding: 0;
}
ul.choices > li {
	list-style: none;
	display: block;
	margin: 2em 0;
	padding: 0 0 0 1em;
}
ul.choices > li > input {
	position: absolute;
	margin-left: -1.2em;
}

ul > li {
	list-style: disc;
}
