body {
	font-family: 'Open Sans',Arial,sans-serif;
	line-height: 1.5;
	background: #fafafa;
	color: #111;
	padding: 1em 3em;
	max-width: 42em;
}


fieldset {
	border: none;
}

legend {
	background: #eee;
	display: block;
	width: 100%;
}

ul.choices {
	margin: 1em 0;
	padding: 0;
}
ul.choices > li {
	list-style: none;
	display: block;
	margin: 2em 0;
	padding: 0 0 0 1em;
}
ul.choices > li > input {
	position: absolute;
	margin-left: -1.2em;
}